/*
==============================================
                    Telugu
==============================================
*/
@counter-style telugu {
    system: numeric;
    symbols: "\C66" "\C67" "\C68" "\C69" "\C6A" "\C6B" "\C6C" "\C6D" "\C6E" "\C6F";
    /* ౦ ౧ ౨ ౩ ౪ ౫ ౬ ౭ ౮ ౯ */
}
body[script="Telu"] .chapter {page:scripture-telugu}
@page scripture-telugu {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, telugu);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-telugu:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
