@counter-style georgian {
    system: additive;
    range: 1 19999;
    additive-symbols: 10000 \10F5, 9000 \10F0, 8000 \10EF, 7000 \10F4, 6000 \10EE, 5000 \10ED, 4000 \10EC, 3000 \10EB, 2000 \10EA, 1000 \10E9, 900 \10E8, 800 \10E7, 700 \10E6, 600 \10E5, 500 \10E4, 400 \10F3, 300 \10E2, 200 \10E1, 100 \10E0, 90 \10DF, 80 \10DE, 70 \10DD, 60 \10F2, 50 \10DC, 40 \10DB, 30 \10DA, 20 \10D9, 10 \10D8, 9 \10D7, 8 \10F1, 7 \10D6, 6 \10D5, 5 \10D4, 4 \10D3, 3 \10D2, 2 \10D1, 1 \10D0;
    /* 10000 ჵ, 9000 ჰ, 8000 ჯ, 7000 ჴ, 6000 ხ, 5000 ჭ, 4000 წ, 3000 ძ, 2000 ც, 1000 ჩ, 900 შ, 800 ყ, 700 ღ, 600 ქ, 500 ფ, 400 ჳ, 300 ტ, 200 ს, 100 რ, 90 ჟ, 80 პ, 70 ო, 60 ჲ, 50 ნ, 40 მ, 30 ლ, 20 კ, 10 ი, 9 თ, 8 ჱ, 7 ზ, 6 ვ, 5 ე, 4 დ, 3 გ, 2 ბ, 1 ა */
}

body[script="Geok"] .chapter,
body[script="Geor"] .chapter {page:scripture-georgian}
@page scripture-georgian {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, georgian);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-georgian:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
