/*
==============================================
         Chinese / Japanese / Korean
==============================================
*/
@counter-style cjk-decimal {
    system: numeric;
    range: 0 infinite;
    symbols: \3007  \4E00  \4E8C  \4E09  \56DB  \4E94  \516D  \4E03  \516B  \4E5D;
    /* 〇 一 二 三 四 五 六 七 八 九 */
    suffix: "\3001";
    /* "、" */
}

body[script="Hant"] .chapter,
body[script="Hans"] .chapter,
body[script="Hang"] .chapter {page:scripture-cjk}
@page scripture-cjk {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, cjk-decimal);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-cjk:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}


@counter-style japanese-formal {
    /* this is a predefined complex style in the CSS3 Counter Styles specification */
    system: additive;
    range: -9999 9999;
    additive-symbols: 9000 \4E5D\9621, 8000 \516B\9621, 7000 \4E03\9621, 6000 \516D\9621, 5000 \4F0D\9621, 4000 \56DB\9621, 3000 \53C2\9621, 2000 \5F10\9621, 1000 \58F1\9621, 900 \4E5D\767E, 800 \516B\767E, 700 \4E03\767E, 600 \516D\767E, 500 \4F0D\767E, 400 \56DB\767E, 300 \53C2\767E, 200 \5F10\767E, 100 \58F1\767E, 90 \4E5D\62FE, 80 \516B\62FE, 70 \4E03\62FE, 60 \516D\62FE, 50 \4F0D\62FE, 40 \56DB\62FE, 30 \53C2\62FE, 20 \5F10\62FE, 10 \58F1\62FE, 9 \4E5D, 8 \516B, 7 \4E03, 6 \516D, 5 \4F0D, 4 \56DB, 3 \53C2, 2 \5F10, 1 \58F1, 0 \96F6;
    /* additive-symbols: 9000 九阡, 8000 八阡, 7000 七阡, 6000 六阡, 5000 伍阡, 4000 四阡, 3000 参阡, 2000 弐阡, 1000 壱阡, 900 九百, 800 八百, 700 七百, 600 六百, 500 伍百, 400 四百, 300 参百, 200 弐百, 100 壱百, 90 九拾, 80 八拾, 70 七拾, 60 六拾, 50 伍拾, 40 四拾, 30 参拾, 20 弐拾, 10 壱拾, 9 九, 8 八, 7 七, 6 六, 5 伍, 4 四, 3 参, 2 弐, 1 壱, 0 零; */
    suffix: '\3001';
    /* suffix: 、; */
    negative: "\30DE\30A4\30CA\30B9";
    /* negative: マイナス; */
    fallback: cjk-decimal;
}

body[script="Jpan"] .chapter {page:scripture-japanese}
@page scripture-japanese {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, japanese-formal);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-japanese:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
