@counter-style lao {
    system: numeric;
    symbols: "\ED0" "\ED1" "\ED2" "\ED3" "\ED4" "\ED5" "\ED6" "\ED7" "\ED8" "\ED9";
    /* ໐ ໑ ໒ ໓ ໔ ໕ ໖ ໗ ໘ ໙ */
}

body[script="Laoo"] .chapter {page:scripture-lao}
@page scripture-lao {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, lao);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-lao:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
