/*
==============================================
                    Tamil
==============================================
*/
@counter-style tamil {
    system: numeric;
    symbols: "\BE6" "\BE7" "\BE8" "\BE9" "\BEA" "\BEB" "\BEC" "\BED" "\BEE" "\BEF";
    /* ௦ ௧ ௨ ௩ ௪ ௫ ௬ ௭ ௮ ௯ */
}
body[script="Taml"] .chapter {page:scripture-tamil}
@page scripture-tamil {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, tamil);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-tamil:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
