/*
==============================================
                Arabic Indic
==============================================
*/
@counter-style arabic-indic {
    system: numeric;
    symbols: "\660" "\661" "\662" "\663" "\664" "\665" "\666" "\667" "\668" "\669";
    /* ٠ ١ ٢ ٣ ٤ ٥ ٦ ٧ ٨ ٩ */
}
body[script="Arab"] .chapter {page:scripture-arab}
@page scripture-arab {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, arabic-indic);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-arab:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}

/*
==============================================
                  Persian
==============================================
*/
@counter-style persian {
    system: numeric;
    symbols: "\6F0" "\6F1" "\6F2" "\6F3" "\6F4" "\6F5" "\6F6" "\6F7" "\6F8" "\6F9";
    /* ۰ ۱ ۲ ۳ ۴ ۵ ۶ ۷ ۸ ۹ */
}
body[lang="fas"] .chapter {page:scripture-persian}
@page scripture-persian {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, persian);font-size: 8pt;color: #222;margin: .2in 0 .1in;direction: rtl}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-persian:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
