@counter-style mongolian {
    system: numeric;
    symbols: "\1810" "\1811" "\1812" "\1813" "\1814" "\1815" "\1816" "\1817" "\1818" "\1819";
    /* ᠐ ᠑ ᠒ ᠓ ᠔ ᠕ ᠖ ᠗ ᠘ ᠙ */
}

body[script="Mong"] .chapter {page:scripture-mongolian}
@page scripture-mongolian {
    counter-reset: footnote;
    @top-left   {content: string(term, last);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-center {content: counter(page, mongolian);font-size: 8pt;color: #222;margin: .2in 0 .1in}
    @top-right  {content: string(term, first);font-size: 8pt;color: #222;margin: .2in 0 .1in}
}
@page scripture-mongolian:first {
    @top-left   {content: normal}
    @top-center {content: normal}
    @top-right  {content: normal}
}
