/* Introduction Wrapper */
.introduction                {margin-bottom:.25in;padding-bottom:.25in;column-span: all}
.introduction p              {string-set: term ''}

/* book titles and toc are handled elsewhere */
[class^="toc"],
.introduction .h,
.introduction .mt,
.introduction .mt2,
.introduction .mt1           {display:none!important}

/* 
    Introduction Section Headings
    https://ubsicap.github.io/usfm/introductions/index.html#is
*/
.introduction [class^="is"]  {font-weight:bold;text-align:left;margin:10pt 0 5pt}
/*
    Introduction outline title.
    https://ubsicap.github.io/usfm/introductions/index.html#iot
*/
.introduction .iot,
.introduction .iot1          {margin-left:10pt}
.introduction .iot2          {margin-left:15pt}
.introduction .iot3          {margin-left:20pt}
.introduction .iot4          {margin-left:20pt}

/*
    Introduction Major Title
    https://ubsicap.github.io/usfm/introductions/index.html#imt
*/
.introduction [class^="imt"] {text-align:center;font-weight:bold;font-size:1em;margin:25pt 0}

/*
    Introduction Flush Left Paragraph
    https://ubsicap.github.io/usfm/introductions/index.html#im
*/
.introduction .im            {text-indent:0}

/*
    Introduction Indented Flush Left Paragraph
    https://ubsicap.github.io/usfm/introductions/index.html#im
*/
.introduction .imi           {text-indent:0;margin-left:1em;margin-right:1em}

/*
    Introduction Right Aligned Paragraph
    https://ubsicap.github.io/usfm/introductions/index.html#ipr
*/
.introduction .ipr           {text-align:right;text-indent:0}
html[dir="rtl"] .ipr         {text-align:left}
.introduction .ipq           {font-style:italic;margin-left:1em;margin-right:1em}

/*
    Introduction Indented introduction paragraph
    https://ubsicap.github.io/usfm/introductions/index.html#ipi
*/
.introduction .ipi           {padding-left:1em;padding-right:1em}

/*
    Introduction Introduction poetic line
    https://ubsicap.github.io/usfm/introductions/index.html#ipi
*/
.introduction .iq,
.introduction .iq1  {margin-left:1em;margin-right:1em}
.introduction .iq2  {margin-left:1.5em;margin-right:1em}
.introduction .iq3  {margin-left:2em;margin-right:1em}
.introduction .iq4  {margin-left:2.5em;margin-right:1em}
.introduction .iq5  {margin-left:3em;margin-right:1em}

/*
    Introduction blank line.
    https://ubsicap.github.io/usfm/introductions/index.html#ib
*/
.introduction .ib            {padding-bottom:1em}

/*
    Introduction Outline Entry
    https://ubsicap.github.io/usfm/introductions/index.html#io
*/
.introduction .io,
.introduction .io1           {margin-left:15pt;font-size:.8em}
.introduction .io2           {margin-left:20pt;font-size:.8em}
.introduction .io3           {margin-left:25pt;font-size:.8em}
.introduction .ior           {text-align:right;float:right}
